<div>
  <span *ngIf="article">

    <img *ngIf="article.img_article_header" width="100%" alt="Bannière de l'article"
    class="resize_fit_center mb-2"
    [src]="(online? 'https://myriia.github.io/Connaissance-Abyssale/assets/' : '../assets/') +
    article.img_article_header"/>

    <!-- Title -->
    <div>    
      <h1 class="flex justify-content-center mb-0 title center">{{article.title}}</h1>
      <h3 class="flex justify-content-center mt-0 mb-0 font-italic">{{article.subTitle}}</h3>
      <div class="flex justify-content-center mt-0" [ngClass]="screenSize != 'small' ? 'mb-7' : ''">
        <div class="mt-2" *ngFor="let type of article.types" >
          <a class="link-chip" [routerLink]="[getRouterLink(type)]"><p-chip [label]="type"></p-chip></a>
        </div>
      </div>
    </div>

    <!-- Content -->
    <article *ngIf="screenSize !== 'small'">
      <article>
        <img width="50%" alt="Bannière de l'article" 
        class="image1 mr-3 mb-3" [src]="(online? 'https://myriia.github.io/Connaissance-Abyssale/assets/' : '../assets/') +
         article.img_article_1"/>
        <p *ngFor="let text of article.content">
          <span [innerHTML]="'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+text"> </span>
          <br>
        </p>
      </article>
    </article>
    <div class="ml-2 mr-2" *ngIf="screenSize === 'small'">
        <img width="100%" alt="Bannière de l'article" 
        class="mt-3" [src]="(online? 'https://myriia.github.io/Connaissance-Abyssale/assets/' : '../assets/') +
         article.img_article_1"/>
        <p *ngFor="let text of article.content">
          <span [innerHTML]="'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+text"> </span>
          <br>
        </p>
      </div>

     <!-- Biblio -->
  <div class="mb-5 mt-3" *ngIf="article.bibliography && screenSize === 'small'">
    <p-accordion>
      <p-accordionTab header="Pour plus de renseignements voici la bibliographie consultée :">
        <p *ngFor="let text of article.bibliography">
          <span [innerHTML]="text"> </span>
          <br>
        </p>
      </p-accordionTab>
    </p-accordion>
  </div>
  <article class="mb-5 mt-3" *ngIf="article.bibliography && screenSize !== 'small'">
    <p-accordion>
      <p-accordionTab header="Pour plus de renseignements voici la bibliographie consultée :">
        <p *ngFor="let text of article.bibliography">
          <span [innerHTML]="text"> </span>
          <br>
        </p>
      </p-accordionTab>
    </p-accordion>
  </article>

  </span>
</div>
