<div [formGroup]="form">
    <h2>Type(s) : </h2>
    <p-checkbox class="m-1" label="Arbre Phylo" formControlName="type_arbrephylo"></p-checkbox>
    <p-checkbox class="m-1" label="Biometisme" formControlName="type_biometisme"></p-checkbox>
    <p-checkbox class="m-1" label="Curiosité" formControlName="type_curiosite"></p-checkbox>
    <p-checkbox class="m-1" label="A la une" formControlName="type_laune"></p-checkbox>
    <p-checkbox class="m-1" label="Protection et Conservation" formControlName="type_protectionetconservation"></p-checkbox>
    <p-checkbox class="m-1" label="Si j'étais" formControlName="type_sijetais"></p-checkbox>
</div>