<div *ngIf="article">
  <article>
    <!-- Title -->
    <h1 class="flex justify-content-center mb-0 title">Hippocampe moucheté</h1>
    <h3 class="flex justify-content-center mt-0 mb-0">(<i>Hippocampus guttulatus</i>)</h3>
    <div class="flex justify-content-center mt-0 mb-7">
      <div class="mt-2 ml-2 mr-2" *ngFor="let type of article.types" >
        <p-chip [label]="type"></p-chip>
      </div>
    </div>
    <!-- Content -->
    <div class="pb-4">
      Les hippocampes mouchetés ont une taille qui varie entre 12 et 16 cm chez l’adulte. Leur nom vient de la forme de leur museau qui est plus de trois fois plus long que haut et bien plus fin que celui de l’espèce précédente. Ces hippocampes possèdent des longs filaments cutanés sur la tête et sur le dos ce qui est un critère de reconnaissance avec la forme du museau. Mais attention, ce n’est pas parce qu’il n’y a pas de filaments que ce n’est pas un hippocampe moucheté ! La coloration de cette espèce varie du brun foncé au jaune, avec une présence de taches blanches sur le corps.
    </div>
    <div class="grid">
      <div class="col-4 align-self-center">
        <img width="100%" height="auto" alt="Dessin d'un hippocampe moucheté" [src]="(online? 'https://myriia.github.io/Connaissance-Abyssale/assets/' : '../assets/') + 'Hipp_mouchete.png'"/>
      </div>
      <div class="pt-4 pr-8 col-8">
        Comme pour toutes les espèces d’hippocampes, c’est le mâle qui couve les œufs. La période de frai s’étend de fin mai à fin juillet. Comme précédemment, la maturité sexuelle est atteinte au bout de 6 à 8 mois et l’espérance de vie des adultes s’éteint jusqu’à 5 ans. La fonction préhensile de la queue joue un rôle très important dans l'accouplement qui comprend une phase d’enlacement. Ce comportement empêche tout croisement avec l'espèce Hippocampus hippocampus qui ne le pratique pas.
        <br/><br/>
        <img width="50%" alt="Dessin d'un hippocampe moucheté" style="float: right" [src]="(online? 'https://myriia.github.io/Connaissance-Abyssale/assets/' : '../assets/') + 'Hipp_mouchete.png'"/>
        Les hippocampes mouchetés vivent dans les prairies de posidonies et de zostères ou parmi les algues à partir de 5m de profondeur.
        <br/>
        Vous l’aurez compris, nous allons plonger dans un site abritant une biodiversité exceptionnelle mais aussi fragile, c’est pourquoi on vous demandera bien évidement d’en prendre le plus grand soin.
      </div>
    </div>

    <!-- Biblio -->
    <div class="mb-5">
      <p-fieldset [collapsed]="true" legend="Pour plus de renseignements voici la bibliographie consultée :" [toggleable]="true" >
        ANON., 2019a. Crise de la Grande Nacre en Méditerranée ( Pinna nobilis ) - Mise à jour janvier 2021. In : UICN [en ligne]. 5 juillet 2019.
        <br/>[Consulté le 24 septembre 2021]. Disponible à l’adresse : https://www.iucn.org/fr/news/mediterranean/201907/crise-de-la-grande-nacre-enmediterranee-pinna-nobilis-mise-a-jour-janvier-2021.
        <br/><br/>
        ANON., 2019b. L’étang de Leucate et ses hippocampes catalans. In : Plongée avec Olivier [en ligne]. 23 novembre 2019.
        <br/>[Consulté le 23 septembre 2021]. Disponible à l’adresse : https://plongeeavecolivier.fr/letang-de-leucate-et-ses-hippocampes-catalans/.
        <br/><br/>
        ANON., [sans date]. INPN - L’inventaire ZNIEFF. In : [en ligne]. [Consulté le 23 septembre 2021]. Disponible à l’adresse :
        <br/>https://inpn.mnhn.fr/programme/inventaire-znieff/presentation.
        <br/><br/>
        BARRABES, Miche, ADER, Denis et LOUISY, Patrick, 2020. Hippocampus hippocampus | DORIS. In : [en ligne]. 8 novembre 2020.
        <br/>[Consulté le 24 septembre 2021]. Disponible à l’adresse : https://doris.ffessm.fr/Especes/Hippocampus-hippocampus-Hippocampe-a-museaucourt-299/(rOffset)/0.
        <br/><br/>
        BARRABES, Michel, ADER, Denis et LOUISY, Patrick, 2020. Hippocampus guttulatus | DORIS. In : [en ligne]. 8 novembre 2020.
        <br/>[Consulté le 24 septembre 2021]. Disponible à l’adresse : https://doris.ffessm.fr/Especes/Hippocampus-guttulatus-Hippocampe-mouchete302/(rOffset)/0.
        <br/><br/>
        LOUISY, Patrick et BÉRENGER, Lucas, 2015. Hippocampes et syngnathes du Golfe du Lion : état des connaissances. In : . 2015. pp. 94.
        <br/><br/>
        SYNDICAT MIXTE RIVAGE, [sans date]. L’écologie de l’étang ‹ Syndicat Mixte Rivage. In : [en ligne]. [Consulté le 23 septembre 2021].
        <br/>Disponible à l’adresse : https://rivage-salses-leucate.org/le-territoire-du-bassin-de-salses-leucate/etang-de-salses-leucate/milieux/.
      </p-fieldset>
    </div>
  </article>
</div>
