:host>>>.p-menubar {
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}


/*:host>>>.p-menubar:focus .p-menu-list:focus .p-tabmenuitem:focus .p-menuitem-text:not(.p-disabled):focus .p-menuitem-icon:not(.p-disabled):focus {
    box-shadow: unset!important;
}*/