<p-dialog header="Export" [(visible)]="displayDialogJson" [style]="{width: '50vw'}">
    <p class="text-primary">ATTENTION :</p>
    <p class="text-primary">- le champs 'id' est à commpléter avec le l'ID le plus grand + 1</p>
    <p class="text-primary">- les images sont à importer dans le github à l'emplacement dédié (src/assets)</p>
    <pre>{{getArticleForExport()|json}}</pre>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="copierJsonArticle()" label="Copier" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<form [formGroup]="articleForm">

    <p-sidebar [(visible)]="sidebarDisplay">
        <button pButton pRipple type="button" label="Export" class="p-button-warning w-full mb-4" (click)="displayDialogJson = !displayDialogJson"></button>

        <div>
            <h2>Model d'article : </h2>
            <p-dropdown class="w-full" [style]="{'width':'100%'}" optionLabel='name' [options]="modelsArticle" formControlName="modelArticle"></p-dropdown>
            
            <p *ngIf="getArticle().modelArticle == MODEL_ARTICLE.TYPE_0">Ce type d'article est principalement utilisé pour les <b>Curiosités</b>.</p>
            <p *ngIf="getArticle().modelArticle == MODEL_ARTICLE.TYPE_1">Ce type d'article est principalement utilisé pour les <b>arbres phylo</b>.</p>
            
            <div>
                <h2>Titre : </h2>
                <textarea class="col-12" pInputTextarea formControlName="title"></textarea>
            </div>
            <div>
                <h2>Sous-titre : </h2> 
                <textarea class="col-12" pInputTextarea formControlName="subTitle"></textarea>
            </div> 
             
            <ca-form-image 
                title="Image d'entête :"
                [formName]="getFormImageHeaderName()" 
                [form]="getFormImageHeader()">
            </ca-form-image>
        </div>
        
        <!-- ARTICLE TYPE 0 -->
        <div *ngIf="getArticle().modelArticle == MODEL_ARTICLE.TYPE_0">
            
            <div>
                <h2>Content : </h2> 
                <angular-editor [placeholder]="'Enter text here...'" formControlName="contentArticleType0"></angular-editor>
            </div>

            <ca-form-image 
                title="Image de l'article :"
                [formName]="getFormImageArticle0Name()" 
                [form]="getFormImageArticle0()">
            </ca-form-image>
        </div>
        
        <!-- ARTICLE TYPE 1 -->
        <div *ngIf="getArticle().modelArticle == MODEL_ARTICLE.TYPE_1">
            <ca-form-content-article-type-1
                [form]="getFormContentsArticleType1()"></ca-form-content-article-type-1>            
        </div>

        <div>
            <h2>Bibliographie : </h2>
            <angular-editor [placeholder]="'Enter text here...'" formControlName="bibliography"></angular-editor>
        </div>
        
        <ca-form-type [form]="articleForm"></ca-form-type>

        <button pButton pRipple type="button" label="Export" class="p-button-warning w-full mt-4" (click)="displayDialogJson = !displayDialogJson"></button>
    </p-sidebar>

    <p-button class="fixed bg-green-500" icon="pi pi-search" (click)="sidebarDisplay = true" label="Modifier"></p-button>

    <ca-article-type-0 *ngIf="getArticle() && getArticle().modelArticle == MODEL_ARTICLE.TYPE_0" 
    [isInForm]="true" [article]="getArticle()" [screenSize]="screenSize"></ca-article-type-0>
    <ca-article-type-1 *ngIf="getArticle() && getArticle().modelArticle == MODEL_ARTICLE.TYPE_1"
    [isInForm]="true" [article]="getArticle()" [screenSize]="screenSize"></ca-article-type-1>
</form>
