<div>
    <h2>Contenu : </h2>
    <div *ngIf="getNbPartie() == 0" class="col-12 flex justify-content-end">
        <button pButton type="button" label="+ partie ↓" class="p-button-text p-button-success" (click)="addPartie(i+1)"></button>
    </div>
    <div class="grid my-3 bg-blue-100 p-1" *ngFor="let controlPartie of form?.controls; let i = index"> 
        <div class="col-12 font-bold bg-blue-200 flex">
            <button pButton pRipple type="button" icon="pi pi-times" class="p-button-text p-button-danger" (click)="removePartie(i)"></button>
            <p>Partie {{i+1}} </p>
        </div>
        <div class="col-12 flex justify-content-end">
            <button pButton type="button" label="+ partie ↑" class="p-button-text p-button-success" (click)="addPartie(i)"></button>
        </div>

        <ca-form-image 
            title="Image de la partie :"
            [formName]="controlPartie.get('img_name')" 
            [form]="controlPartie.get('img')"
        ></ca-form-image>


        <div class="col-12" *ngIf="controlPartie.get('img').value !== null">
            <h2>Legende de l'image: </h2>
            <textarea class="col-12" pInputTextarea [formControl]="controlPartie.get('legendeImg')"></textarea>                        
        </div>
        
        <div class="col-12" *ngIf="controlPartie.get('img').value !== null">
            <h2>Disposition de l'image: </h2>
            <span class="flex col-12">
                Toute la largeur
                <p-inputSwitch [formControl]="controlPartie.get('disposition')"></p-inputSwitch>
                A côté du texte
            </span>
        </div>

        <div class="col-12">
            <h2>Content: </h2>
            <angular-editor [placeholder]="'Enter text here...'" [formControl]="controlPartie.get('text')"></angular-editor>
        </div>

        <div class="col-12 flex justify-content-end">
            <button pButton type="button" label="+ partie ↓" class="p-button-text p-button-success" (click)="addPartie(i+1)"></button>
        </div>
    </div>
</div>