.article-presentation {
  width: 31.333%;
  margin: 0 1%;
}
:host>>>.p-grid {
    display: flex;
    flex-wrap: wrap;
}
:host>>>.p-dataview .p-dataview-content{
  background-color: #F9F9F9;
}

:host>>> .p-paginator .p-paginator-pages .p-paginator-page{
  min-width: 0;
}