.image-home {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.text-welcome {
    position: absolute;
    text-align: right;
    width: 75%;
    right: 40%;
}

h1{
  color: white;
}

.article-presentation {
    width: 33.3333%;
    margin: 0 5px;
}
.article-presentation:first-child{
  margin: 0 5px 0 0;
}

.article-presentation:last-child{
  margin: 0 0 0 5px;
}
.title-small{
  font-size: 1em;
}
