.image-home {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.text-welcome {
    position: absolute;
    text-align: right;
    width: 75%;
    right: 40%;
}

h1{
  color: white;
}

.article-presentation {
    width: 33%;
}
