@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;600&display=swap');

h1, h2, h3, .p-card .p-card-title, .p-tabmenu-nav .p-menuitem-text {
  font-family: 'IBM Plex Serif', serif;
  color: #413C49;
}
h1 {
  font-size: 4em;
  margin: 0;
}
h3 {
  font-size: 2em;
}
body {
  background-color: #F9F9F9;
}
p {
  font-size: 18px;
  text-align: justify;
}
article{
  width: 60%;
  margin: 0 20%;
}
section{
  margin: 10px 0;
  padding: 20px;
}
.section-background{
  background-color: white;
}
.link-chip{
  text-decoration: none;
}
.link-chip .p-chip :hover{
  color: black;
}